<div class="vdx-purpose-animation vdx-col-12 vdx-col-lg-6" aria-hidden="true">
  <div class="designer-text marquee-text">
    <div class="marquee-text__inner">
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
    </div>
  </div>
  <div class="developer-text marquee-text">
    <div class="marquee-text__inner reverse">
      <span>DEVELOP&nbsp;&bull;&nbsp;</span>
      <span>DEVELOP&nbsp;&bull;&nbsp;</span>
      <span>DEVELOP&nbsp;&bull;&nbsp;</span>
      <span>DEVELOP&nbsp;&bull;&nbsp;</span>
    </div>
  </div>
  <div class="designer-text marquee-text">
    <div class="marquee-text__inner">
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
    </div>
  </div>
  <div class="developer-text marquee-text">
    <div class="marquee-text__inner reverse">
      <span>DEVELOP&nbsp;&bull;&nbsp;</span>
      <span>DEVELOP&nbsp;&bull;&nbsp;</span>
      <span>DEVELOP&nbsp;&bull;&nbsp;</span>
      <span>DEVELOP&nbsp;&bull;&nbsp;</span>
    </div>
  </div>
  <div class="designer-text marquee-text">
    <div class="marquee-text__inner">
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
      <span>DESIGN&nbsp;&bull;&nbsp;</span>
    </div>
  </div>
</div>