<div class="vp-wrapper" id="yourElementId">

  <div class="vp-background">
    <video class="value-props-video" muted loop playsinline autoplay height="500"
      src="https://www.apple.com/105/media/us/airpods-pro/2022/d2deeb8e-83eb-48ea-9721-f567cf0fffa8/anim/spatial-audio/large.mp4"></video>
  </div>


  <div class="vp-content">
    <div class="container container--thin container__patter_block_inner" [ngStyle]="{'transform': transformScrollVal}"> 

      <p>Somre more content here</p>

      <ul role="list">
        <li class="chip-claim" role="listitem"><span>Up to 10 streams of 8K&nbsp;ProRes video playback</span></li>
        <li class="chip-claim" role="listitem"><span>67 billion transistors</span></li>
        <li class="chip-claim" role="listitem"><span>Up to 15.8 trillion operations per second</span></li>
        <li class="chip-claim" role="listitem"><span>Support for up to 5&nbsp;displays</span></li>
        <li class="chip-claim" role="listitem"><span>H.264, HEVC and ProRes encode and decode</span></li>
      </ul>

      <p>Somre more content here</p>
    </div>
  </div>

</div>

<!-- <section class="section section-value-props theme-dark near-section">

  <div class="section-content value-prop-list-container">
    <ul class="value-prop-list">
      <li class="value-prop" >Up to 2x more Active Noise
        Cancellation.</li>
      <li class="value-prop">Transparency mode to hear
        the world around you.</li>
      <li class="value-prop">All-new Adaptive Audio
        intelligently tailors noise control to your environment.</li>
      <li class="value-prop">Spatial Audio takes
        immersion to a remarkably personal level.</li>
      <li class="value-prop">And a single charge delivers
        6 hours of battery life.</li>
    </ul>
  </div>

  <div class="scroll-container-value-props">
    <div class="sticky-value-props loaded playing">
      <div class="value-props-video-container">
        <video class="value-props-video" muted loop playsinline autoplay height="500"
          src="https://www.apple.com/105/media/us/airpods-pro/2022/d2deeb8e-83eb-48ea-9721-f567cf0fffa8/anim/spatial-audio/large.mp4"></video>
      </div>
    </div>
  </div>

</section> -->