<main id="main" class='main is-layout-flow wp-block-group'>
  <div class="has-global-padding entry-content wp-block-post-content is-layout-constrained">
    
    <app-video-player-and-text appBlockFullWidth class="wp-block-patter--video-player-text"></app-video-player-and-text>
    
    <app-normal-test-block appBlockSmallPadding appBlockFullWidth appBlockFullHeight appBlockBackgroundLight></app-normal-test-block>

    <app-video-player-and-text appBlockFullWidth class="wp-block-patter--video-player-text"></app-video-player-and-text>

    <app-normal-test-block appBlockSmallPadding appBlockFullWidth appBlockFullHeight appBlockBackgroundLight></app-normal-test-block>

    <app-video-player-and-text appBlockFullWidth class="wp-block-patter--video-player-text"></app-video-player-and-text>

  </div>

</main>