<main id="main" class='main is-layout-flow wp-block-group'>
  <div class="has-global-padding entry-content wp-block-post-content is-layout-constrained">
    
    <app-normal-test-block appBlockSmallPadding appBlockFullWidth appBlockFullHeight appBlockBackgroundLight></app-normal-test-block>

    <app-chat-gpt-simple-video-player-text appBlockFullWidth></app-chat-gpt-simple-video-player-text>

    <app-video-player-and-text appBlockFullWidth></app-video-player-and-text>

    <app-normal-test-block appBlockSmallPadding appBlockFullWidth appBlockFullHeight appBlockBackgroundLight></app-normal-test-block>

  </div>

</main>