<main id="main" class='main is-layout-flow wp-block-group'>
  <div class="has-global-padding entry-content wp-block-post-content is-layout-constrained">

    <!-- test block -->
    <div class="wp-block-patter-block-wrapper-000 alignfull has-light-background-color border-section small-section block-full-height">
      <div class="container container__patter_block_inner">
        <div
          class="wp-block-columns is-style-larger-gap is-layout-flex wp-container-20 wp-block-columns-is-layout-flex">
          <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
            <h3 class="wp-block-heading has-primary-color has-text-color">Sustainability</h3>
            <p>We’re on a journey to operate in the most environmentally sustainable way possible. Our current vehicle
              upgrade programme favours hybrid and electric vehicles, and our drivers are monitored by our systems to
              ensure they’re driving in a fuel-efficient, environmentally conscious way. We operate from an office
              building rated ‘Excellent’ by BREEAM, with sustainable features including rainwater harvesting,
              movement-sensitive lighting and geothermal heating.</p>
          </div>
          <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
            <h3 class="wp-block-heading has-primary-color has-text-color">Sustainability</h3>
            <p>We’re on a journey to operate in the most environmentally sustainable way possible. Our current vehicle
              upgrade programme favours hybrid and electric vehicles, and our drivers are monitored by our systems to
              ensure they’re driving in a fuel-efficient, environmentally conscious way. We operate from an office
              building rated ‘Excellent’ by BREEAM, with sustainable features including rainwater harvesting,
              movement-sensitive lighting and geothermal heating.</p>
          </div>
          <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
            <h3 class="wp-block-heading has-primary-color has-text-color">Sustainability</h3>
            <p>We’re on a journey to operate in the most environmentally sustainable way possible. Our current vehicle
              upgrade programme favours hybrid and electric vehicles, and our drivers are monitored by our systems to
              ensure they’re driving in a fuel-efficient, environmentally conscious way. We operate from an office
              building rated ‘Excellent’ by BREEAM, with sustainable features including rainwater harvesting,
              movement-sensitive lighting and geothermal heating.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end test block -->


    <app-video-player-and-text></app-video-player-and-text>

    <!-- <section class="section section-hero">
    <div class="section__scroll-container">

      <div class="section__copy">

        <div class="hero-lockup">
          <div class="hero-lockup-inner">

            <h1 class="hero-headline">AirPods Pro</h1>
            <div class="hero-announce hero-links-anim">
              <a href="/test" class=""><span class="icon-copy">Watch the film</span></a>
            </div>
          </div>
        </div>

        <p class="hero-payoff"><span class="nowrap">Adaptive Audio.</span> Now playing.</p>

      </div>

      <div class="image-sequence-container-hero">
        <div class="image-sequence-container-inner-hero">
          <canvas class="image-sequence image-sequence-hero" width="1440" height="810"></canvas>
        </div>
      </div>

    </div>
  </section> -->

    <!-- <section>
    <canvas id="hero-lightpass"></canvas>
  </section> -->

    <section>Section 3</section>

  </div>

</main>